@page "/"
@inject BeneficialOwnerSafa.Services.BeneficialOwnerService OwnerService

<PageTitle>Home</PageTitle>

<h3>Beneficial Owners</h3>

@if (owners == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var owner in owners)
        {
            <li>
                Owner Id: @owner.id - Beneficiaries: @owner.Beneficiaries.Count
                Owner user_id: @owner.user_id
            </li>
        }
    </ul>
}

@code {
    private List<BeneficialOwnerSafa.Data.BeneficialOwner>? owners;

    protected override async Task OnInitializedAsync()
    {
        owners = await OwnerService.GetAllAsync();
    }
}
